/*
Estilos da pagina index.html
*/
.center{
    text-align: center;
    font-size: 30px;
    
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 15px;
}

#menu li a{
    text-decoration: none;
    color:black;
    font-size: 20px;
}

#menu li a:hover{
    color: red;
}

.p-30{
    padding: 30px;
}

/*
Estilos da pagina contato.html
*/
.br-50{
    border-radius:50% ;
}

.tm-social{
    width: 50px;
    height: 50px;
}

.mb-50{
    margin-bottom: 50px;
}

.ml-50{
    margin-left: 50px;
}



